<div class="container">
  <div class="sidebar">
    <app-character-filter (filterChange)="applyFilters($event)"></app-character-filter>
  </div>

  <div class="content">
    <h3>SEARCH RESULTS</h3>
    <table class="character-table">
      <thead>
        <tr>
          <th>Sl No.</th>
          <th>Character Name</th>
          <th>Species</th>
          <th>Birth Year</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let char of displayedCharacters; let i = index">
          <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td>
            <a [routerLink]="['/characters', i+1]" target="_blank">
              {{ char.name }}
            </a>
          </td>
          <!-- <td>{{ (char.speciesNames && char.speciesNames.length ? char.speciesNames.join(', ') : 'Unknown') }}</td> -->
           <td>{{ (char.speciesNames && char.speciesNames.length ? char.speciesNames.join(', ') : 'Unknown') }}</td>
          <td>{{ char.birth_year }}</td>
        </tr>
      </tbody>
    </table>

    <div class="pagination">
      <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Prev</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
</div>

